@use 'main';

.hero-section {
    @include main.DFlex(column);
    
    h1 {
        font-weight: 700;
    }
    p {
        font-weight: 400 !important;
    }
}

@media screen and (min-width: 100px) and (max-width: 720px) {
    .hero-section {
        padding: .5rem 2rem;

        p {
            margin-top: 1rem;
        }
    }
}